

//fonts

$stack-normal: 'Josefin Sans', sans-serif;
$stack-hello: 'Roboto Mono', monospace;
$bold: 700;


//colors:

//header text color:
$header-text-color: #FCE8EB;


//page text color:
$text-color: #463E3F;


//bigger sheet circle color:
$bigger-circle-color: #ffd2d2;

//smaller sheet circle color:
$small-circle-color: #2f4f4f;

//circle color for contact sheet:
$contact-circle-color: #caad75;




//section 2 background color:
$section-color: #e4c68f;



//slides background color:
$slide-back-color: rgba(228,198,143,0.1);



//footer background color (the same color for smallsheets (=menu)):
$footer-back-color: #ffebeb;

